<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Contacto</title>
    <meta name ="author" content="DHG">
    <link rel="icon" href="https://w7.pngwing.com/pngs/870/61/png-transparent-comics-comic-book-others-comics-comic-book-logo-thumbnail.png" type="image/png">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <h2>¡Explora!</h2>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Importancia de los Superheroés</a></li>
            <li><a href="{% url 'pagina2' %}">Impacto en otros medios</a></li>
            <li><a href="{% url 'pagina3' %}">Los héroes más populares del Sector 2814!</a></li>
            <li><a href="{% url 'pagina4' %}">Los héroes más queridos en el multiverso!</a></li>
            <li><a href="{% url 'pagina5' %}">¿Cuál es tu preferido?</a></li>               
        </ul>
    </nav>
    <h1>Formulario de Contacto</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar</button>
    </form>
</body>
</html>